/* .container{
    top: 20%;
    left: 10%;
}
.label{
    color: black
}
.inputEmail4{
    color: #000000;
}
.demo{
    color: #000000;
    align-items: initial;
    font-size: medium ;
    
}
.form{
    text-align: left;
}
label{
    color: white;
} */





