.footer-wrapper {
    background-color: #000000;
    // position:relative;
    
    .footer {
        padding: 0px 30px;
    max-width: 1400px;
    margin: 0 auto;
    

    &__top {
        display: flex;
        align-items: center;
        padding: 40px 0px;
        gap: 2em;

        &__contact {
            display: flex;
            align-items: center;
            gap: 15px;

            span {
                color: #21cf75;
                font-size: 40px;
            }

            h2 {
                font-size: 15px;
                color:#fff;
            }

            a {
                font-size: 20px;
                color: #21cf75;
                text-decoration: none;
                font-weight: 700;
            }
        }

        &__social{
            flex: 1;

            h2 {
                font-size: 15px;
                color:#fff;
            }

            &__icons {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 5px;

                svg {
                    color: #21cf75;
                }
            }
        }

        &__cards {
            img {
                width:  300px;
            }
        }
    }

    &__bottom {
        border-top: 1px solid #f2f2f2;
        padding: 40px 0px;
        text-align: center;
        font-weight: 600;
        color: #fff;
        
        p {
            font-size: 15px;
        }
    }
}
}